<h2>Product list</h2>
<div class="form-row form-group">
  <div class="form-col"> 
    <input type="text" [(ngModel)]="productModel.name" placeholder="Name Product">
  </div>
  <div class="form-col" >
    <input type="text" [(ngModel)]="productModel.price" placeholder="Price">
  </div>
  <div class="form-col">
    <button (click)=addProduct() class="btn btn-primary">Add</button>
  </div>
</div>
<div>
  <input type="text" [(ngModel)]="searchProduct" placeholder="Search">
</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Product</th>
      <th>Price</th>
      <th></th>
      <!-- <th><button type="button" class="close">X</button></th> -->
    </tr>
  </thead>
  <tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
  </tr>
</table>